<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
      <div class="title">Makine Verimlilik Hesaplayıcı</div>

      <div class="tarih">
        <mat-form-field appearance="fill">
          <mat-label>Angular forms</mat-label>
          <input matInput [matDatepicker]="picker1" [formControl]="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        
      </div>
      
      <div class="turContainer">

        <div class="tur">
          <h2>Üretim: </h2>
          <input class="inputbox" type="text" id="valueUretim">
        </div>

      </div>

      <div class="turContainer2">
        <div class="tur">
          <h2>Planlanan: </h2>
          <input class="inputbox" type="text" id="valuePlanlanan">
        </div>
      </div>

      <div class="result">
        <p id="result"></p>
      </div>

      <div class="button">
        <button class="resultButton" (click)="result()">Hesapla</button>
      </div>


      <h2 id="listeIsim"></h2>
      
      <div>
        <span id="liste"></span>
      </div>


  </body>
</html>